# Git
.git
.gitignore

# Maven / Java
target/*
!target/*.jar
.m2

# IDE
.idea
*.iml
*.ipr
*.iws
.vscode
.classpath
.project
.settings
.factorypath
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Terraform / DevOps
terraform
*.tfstate
*.tfstate.backup
.terraform
.terraform.lock.hcl

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Node (au cas où)
node_modules
npm-debug.log
yarn-error.log
